// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

// ### Neutral

$veryDarkBlue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%); 
$Grayishblue: hsl(220, 14%, 75%); 
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%); 
$Black : hsl(0, 0%, 0%);  // (with 75% opacity for lightbox background)

// ## Typography

// ### Body Copy

$font: 16; // paragraph 

// ### Font

// - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)

// - Weights: 400, 700

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$regular: 400; 
$bold: 700;

$breakpoint: 750px