@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16;
}

@-webkit-keyframes width {
  from {
    width: 0;
  }
  to {
    width: 70vw;
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 70vw;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@-webkit-keyframes textOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes ReverseWidth {
  from {
    width: 70vw;
  }
  to {
    width: 0;
  }
}

@keyframes ReverseWidth {
  from {
    width: 70vw;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes ReverseOpacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes ReverseOpacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes ReverseTextOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes ReverseTextOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
}

.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.header .menu {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header .menu #reversed a, .header .menu #reversed img {
  -webkit-animation: ReverseTextOpacity;
          animation: ReverseTextOpacity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .menu #reversed::after {
  -webkit-animation: ReverseWidth;
          animation: ReverseWidth;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .menu #reversed::before {
  -webkit-animation: ReverseOpacity;
          animation: ReverseOpacity;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .menu__links {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: textOpacity;
          animation: textOpacity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding: 0em 1em;
}

.header .menu__links a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 0.5em 0;
  z-index: 1;
}

.header .menu__links img {
  cursor: pointer;
  width: 25px;
  height: auto;
  z-index: 1;
  margin-bottom: 3em;
}

.header .menu__links::after {
  position: absolute;
  cursor: auto;
  content: '';
  background: white;
  top: -51px;
  left: -16px;
  min-height: 100vh;
  z-index: 0;
  -webkit-animation: width;
          animation: width;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .menu__links::before {
  position: absolute;
  content: "";
  background: black;
  width: 100vw;
  top: -51px;
  min-height: 100vh;
  left: -16px;
  translate: transform(-50%, 50%);
  height: 100%;
  -webkit-animation: opacity;
          animation: opacity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 1em;
}

.header__icons {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.header__icons #avatar {
  margin-left: 1em;
  width: auto;
  height: 50px;
}

body, html {
  height: 100vh;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
}

@media (min-width: 800px) {
  .content {
    width: 70%;
    height: 80%;
    margin: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content .images {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content .images #left {
  position: absolute;
  top: 50%;
  left: 5%;
}

.content .images #right {
  position: absolute;
  top: 50%;
  left: 10%;
}

.content .images .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.content .images .carousel img {
  width: auto;
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 1em;
}

@media (min-width: 800px) {
  .content .images .carousel img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    width: auto;
    height: 100%;
  }
}

.content .product {
  padding: 1em 1.3em;
}

.content .product .company {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #ff7d1a;
}

.content .product .title {
  font-weight: 700;
}

.content .product .description {
  font-size: 16px;
}

.content .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .product .price .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .product .price .current .discount {
  color: #ff7d1a;
  font-weight: 700;
  background-color: #ffede0;
  padding: 0.2em 0.3em;
  margin: 1em;
}

.content .product .interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .product .interactive .order {
  margin: 0 2em;
  padding: 1em 4em;
  font-family: inherit;
  font-size: inherit;
  background-color: #ff7d1a;
  border: none;
  color: #ffede0;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */